#
# Copyright (c) 2010-2016, Fabric Software Inc. All rights reserved.
#

# ignore everything in backup.
/Backup/*/

# ignore all files in cache.
/Cache/*.*

# ignore user folders in system.
/system/*/
